@import url('https://fonts.googleapis.com/css2? familia=Oswald:wght@200;300;400;500&display=swap');

*{
    font-family: 'Oswald', sans-serif;
}
.banner{
    background-color: rgb(174, 231, 231);
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}

.botton{
    text-decoration: none;
    color: red;
    font-size: 75px;
    margin-right: 100px;
}
.imgban2{
    margin-top: 50px;
    width: 3060px;
    height: 500px;
}
.text h1{
    font-size: 70px;
    margin-top: 20px;
    margin-left: 700px;
}
.text p{
    font-size: 25px;
    margin-top: 20px;
    margin-left: 700px;
    margin-right: 700px;
}
